.wrapper{
  position: relative;
}
.container{
  position: relative;
}
.section{
  font-size: 18px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 100px;
  padding: 10px 40px;
}
.timeline{
  font-size: 20px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 100px;
  padding: 10px 40px;
}
@media all and (max-width: 800px){
  .section {
    font-size: 14px;
  }
  .timeline {
    font-size: 14px;
  }
}

@media all and (max-width: 400px){
  .section {
    font-size: 12px;
  }
}
