.container {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
  animation-name: fadein;
  animation-duration: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section {
  font-size: 18px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 100px;
  padding: 10px 40px;
}

.timeline {
  font-size: 20px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 100px;
  padding: 10px 40px;
}

@media all and (max-width: 800px) {
  .section {
    font-size: 14px;
  }

  .timeline {
    font-size: 14px;
  }
}

@media all and (max-width: 400px) {
  .section {
    font-size: 12px;
  }
}