.outer {
  margin: 20px auto;
  padding: 10px 40px;
  width: 60%;
  min-width: 100px;
  border: 2px solid #000000;
}

.heading {
  font-size: 26px;
}

.topBar {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.expand {
  font-size: 26px;
}

.icon {
  height: 30px;
}

.content {
  font-size: 18px;
  color: #000000;
}

.clickable {
  cursor: pointer;
}

.sectionTitle {
  font-size: 23px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.classList {
  margin: 0 0 8px 0;
  line-height: 145%
}

.fall {
  font-size: 20px;
  color: #cf5230;
}

.winter {
  font-size: 20px;
  color: #a0ccff;
}

.spring {
  font-size: 20px;
  color: #4aa02c;
}

.summer {
  font-size: 20px;
  color: #236e96;
}

.activeExtra {
  font-size: 20px;
  color: #407512;
}

.oldExtra {
  font-size: 20px;
  color: #a31f34;
}

.normal {
  font-size: 20px;
}

@media all and (max-width: 800px) {
  .heading {
    font-size: 20px;
  }
  .expand {
    font-size: 20px;
  }
  .icon {
    height: 24px;
  }
  .sectionTitle {
    font-size: 19px;
  }
  .classList {
    margin: 0 0 8px -20px;
  }
  .content {
    font-size: 14px;
  }
  .fall, .winter, .spring, .summer, .activeExtra, .oldExtra, .normal {
    font-size: 17px;
  }

}

@media all and (max-width: 400px) {
  .heading {
    font-size: 18px;
  }
  .expand {
    font-size: 16px;
  }
  .icon {
    height: 21px;
  }
  .content {
    font-size: 12px;
  }
  .sectionTitle {
    font-size: 16px;
  }
  .fall, .winter, .spring, .summer, .activeExtra, .oldExtra, .normal {
    font-size: 15px;
  }
}
