.outer {
  margin: 20px auto;
  padding: 10px 40px;
  width: 60%;
  min-width: 550px;
  border: 2px solid #000000;
}
.heading {
  font-size: 26px;
}
.expand {
  font-size: 26px;
  float: right;
}
.topBar {
  cursor: pointer;
}
.content {
  font-size: 18px;
  color: #000000;
}
.clickable {
  cursor: pointer;
}
.classList{
  margin: 0 auto 8px 0;
  line-height: 145%
}
.fall{
  font-size: 20px;
  color: #cf5230;
}
.winter{
  font-size: 20px;
  color: #a0ccff;
}
.spring{
  font-size: 20px;
  color: #4aa02c;
}
.summer{
  font-size: 20px;
  color: #236e96;
}
