h1,h2,h3,h4,h5{
  margin: 0;
}
ul{
  margin: 0 auto 8px 0;
}
.outer {
  margin: 20px auto 0;
  padding: 5px 40px;
  width: 60%;
  min-width: 550px;
  border: 2px solid #000000;
}
.heading {
  font-size: 20px;
}
.expand {
  font-size: 20px;
  float: right;
}
.topBar {
  cursor: pointer;
}
.options {
  font-size: 20px;
  color: #000000;
}
.clickable {
  cursor: pointer;
}
.fall{
  color: #cf5230;
}
.winter{
  color: #a0ccff;
}
.spring{
  color: #4aa02c;
}
.summer{
  color: #236e96;
}
