html {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  background-color: #7EC0EE;
  color: #FFFFFF;
  min-height: 100%;
}

body {
  padding-top: 30px;
}

.Todo {
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  min-width: 270px;
  padding: 40px;
}

.TitleBar {
  padding-bottom: 20px;
}

.List {
  border-bottom: 1px solid rgba(169, 169, 169, 0.6);
}

.TodoItem {
  text-align: left;
  border-top: 1px solid rgba(169, 169, 169, 0.6);
  padding: 0 10px 0 10px;
  word-wrap: break-word;
}

.TodoItem:hover{
    background-color: rgba(169, 169, 169, 0.6);
    color: #000000;
}

.Inputter {
  padding-top: 20px;
}

.Placeholder{
    border-top: 1px solid rgba(169, 169, 169, 0.6);
}

#todo {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  width: 80%;
  padding-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todoDelete{
    font-family: 'Oswald', sans-serif;
    font-size: 80%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    clear: both;
    float: right;
}

.todoDelete:hover{
    color: #FFFFFF;
}

#InputButton {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 1px 0 1px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
