.top{
  background-color: #f17e33;
}

.container{
  width: 60%;
  height: 60px;
  margin: 0 auto;
}

.brand{
  display: inline-block;
  font-family: "Roboto", serif;
  font-size: 40px;
  padding-top: 6px;
  margin: 0;
  cursor: pointer;
}

@media all and (max-width: 800px){
  .container{
    width: 90%
  }
}

@media all and (max-width: 400px){
  .brand{
    font-size: 24px;
    padding-top: 16px;
  }
}
