.wrapper{
  position: relative;
}
.container{
  position: relative;
}
.section{
  font-size: 18px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 550px;
  padding: 10px 40px;
}
.list {
  margin: 5px 0 8px 0;
}
.email{
  font-family: "Roboto Condensed";
  font-size: 20px;
  background: rgba(0,0,0,0);
  border: none;
}

.text {
  line-height: 150%;
}

@-webkit-keyframes hvrpop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvrpop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvrpop {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvrpop:hover, .hvrpop:focus, .hvrpop:active {
  color: #f17e33;
  -webkit-animation-name: hvrpop;
  animation-name: hvrpop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
