.button{
  font-family: "Roboto Condensed", serif;
  font-size: 33px;
  width: 150px;
  float: right;
  padding: 11px 10px 10px;
  text-align: center;
  cursor: pointer;
}
.button:hover{
  background-color: #d8712d;
}
@media all and (max-width: 1420px) {
  .button{
    width: 100px;
  }
}
