.Navlink-active {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 33px;
  width: 150px;
  padding: 11px 10px 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.Navlink-hvrUnderline {
  color: black;
  text-decoration: none;
  font-size: 33px;
  width: 150px;
  padding: 11px 10px 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.Navlink-hvrUnderline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.Navlink-hvrUnderline:hover:before,
.Navlink-hvrUnderline:focus:before,
.Navlink-hvrUnderline:active:before {
  left: 0;
  right: 0;
}

@media all and (max-width: 1440px) {
  .Navlink-active {
    width: 100px;
  }

  .Navlink-hvrUnderline {
    width: 100px;
  }
}

@media all and (max-width: 1100px) {
  .Navlink-active {
    font-size: 25px;
    padding: 16px 10px 15px;
    width: 70px;
  }

  .Navlink-hvrUnderline {
    font-size: 25px;
    padding: 16px 10px 15px;
    width: 70px;
  }
}

@media all and (max-width: 900px) {
  .Navlink-active {
    display: none;
  }

  .Navlink-hvrUnderline {
    display: none;
  }
}
