html, body {
  font-family: "Roboto Condensed", serif;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

b {
  font-family: "Roboto", serif;
  font-size: 26px
}


/*@import url('https://fonts.googleapis.com/css?family=Oswald')*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto');
