.wrapper{
  position: relative;
}
.container{
  position: relative;
}
.section{
  font-size: 18px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 550px;
  padding: 10px 40px;
}
.caption{
  margin: 0 0 3px 0;
}
.linkList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link:hover{
  color: #f17e33;
}
.text {
  line-height: 150%;
}
.icon {
  width: 22px;
  margin-right: 5px;
}
