.wrapper{
  position: relative;
}
.container{
  position: relative;
}
.section{
  font-size: 20px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 550px;
  padding: 5px 40px;
}
