.containerin{
  -webkit-animation-name: fadein;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
  animation-name: fadein;
  animation-duration: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}
@-webkit-keyframes fadein{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section{
  font-size: 18px;
  margin: 20px auto;
  border: 2px solid #000000;
  width: 60%;
  min-width: 100px;
  padding: 10px 40px;
}
.caption{
  margin: 0 0 3px 0;
}
.linkList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link:hover{
  color: #f17e33;
}
.text {
  line-height: 150%;
}
.icon {
  width: 22px;
  margin-right: 5px;
}
.pic {
  width: 220px;
  float: right;
}

@media all and (max-width: 800px){
  .section {
    font-size: 14px;
  }
  .pic {
    margin-right: -35px;
    width: 140px;
  }
}

@media all and (max-width: 400px){
  .section {
    font-size: 12px;
  }
  .pic {
    margin-right: -30px;
    width: 100px;
  }
}
